body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 80px;  background: #61dafb;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
